/*Header*/
header {
  padding: 80px 10% 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

.nav-container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-container .nav-logo {
  margin-right: 40px;
}

.nav-container .navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-container .navbar .nav-menu{
  width: 50%;
}

.dropdown-item{
  margin-left: 30px;
}

.nav-container .navbar .nav-menu .nav-list{
  display: flex;
  justify-content: stretch;
  align-items: center;
  width: 100%;
}

.nav-container .navbar .nav-menu .nav-link{
  font-family: var(--font-overpass);
  font-size: 1rem;
  font-weight: 500;
  color: var(--white);
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.nav-container .navbar .nav-menu .nav-link span::after{
  position: absolute;
  content: '';
  bottom: 3px;
  left: 0;
  right: 0;
  width: 77%;
  height: 2px;
  background-color: var(--white);
  transform: scaleX(0);
  transform-origin: bottom;
  transition: transform 0.3s ease;
}

.nav-container .navbar .nav-menu .nav-link .dropdown-arrow {
  margin-left: 8px;
  transition: .3s ease;
}

.nav-container .navbar .nav-menu .nav-list .dropdown-item {
  position: relative;
}

.nav-container .navbar .nav-menu .nav-list .dropdown-menu{
  display: none;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
  /* transition: opacity 0.3s ease, visibility 0.3s ease; */

  background-color: var(--white);
  border-radius: 4px;
  position: absolute;
  top: 200%;
  left: -20px;
  display: flex;
  flex-direction: column;
  width: 160px;
  padding: 30px 20px;
  gap: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.nav-container .navbar .nav-menu .nav-list .dropdown-item:hover .dropdown-menu,
.nav-container .navbar .nav-menu .nav-list .dropdown-menu:hover {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.nav-container .navbar .nav-menu .nav-link:hover span::after,
.nav-container .navbar .nav-menu .nav-list .dropdown-item:hover .nav-link span::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav-container .navbar .nav-menu .nav-list .dropdown-item:hover .dropdown-menu,
.nav-container .navbar .nav-menu .nav-list .dropdown-item:hover .dropdown-arrow,
.nav-container .navbar .nav-menu .nav-list .dropdown-menu:hover .dropdown-arrow {
  display: flex;
  opacity: 1;
  visibility: visible;
}

.nav-container .navbar .nav-menu .nav-list .dropdown-item:hover .dropdown-arrow {
  transform: rotate(180deg);
}

.nav-container .navbar .nav-menu .nav-list .dropdown-item:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
}

.nav-container .navbar .nav-menu .nav-list .dropdown-menu .dropdown-link {
  font-family: var(--font-ubuntu);
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--vd-black-blue);
  transition: font-weight 0.2s ease;
}

.nav-container .navbar .nav-menu .nav-list .dropdown-menu .dropdown-link:hover {
  font-weight: 700;
}

.nav-container .navbar .nav-btns a {
  font-size: 1rem;
  font-family: var(--font-overpass);
  color: var(--white);
  font-weight: 500;
  margin-right: 30px;
} 

.nav-container .navbar .nav-btns .sign-up {
  font-weight: 700;
  background-color: var(--white);
  /* padding: 15px 45px; */
  width: 150px;
  height: 50px;
  border-radius: 50px;
  border: none;
  color: var(--l-red);
  cursor: pointer;
  transition: 0.3s ease;
}

.nav-container .navbar .nav-btns .sign-up:hover {
  background-color: var(--vl-red);
  color: var(--white);
}

.nav-container .nav-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  display: none;
}

/*End Header*/

/*Home*/
/* .home{
    padding: 0 10%;
    background: linear-gradient(to right, var(--gd-vl-red), var(--gd-l-red));
    width: 100%;
    height: 100%;
} */

.home-container {
  /* border:2px solid white; */
  padding: 0 10%;
  background: linear-gradient(to right, var(--gd-vl-red), var(--gd-l-red));
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  /* border-bottom-left-radius: 100px; */
  border-bottom-left-radius: 120px 110px;
  position: relative;
  z-index: 5;
}

.home-container .home-content {
  /* border: 2px solid white; */
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
  color: var(--white);
  padding: 15rem 0 10rem;
}

.home-container .desktop-home-pattern {
  /* position: absolute;
    top: -110%;
    left: -30%;
    transform: translateY(-20%);
    z-index: -1;  */
  position: absolute;
  top: -110%;
  left: calc(20.8% - 720px); /* Centers the pattern within 1440px */
  transform: translateY(-20%);
  z-index: -1;
  width: auto;
  max-width: none;
}

.home-container .home-content h1 {
  font-family: var(--font-overpass);
  font-size: 3.8rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.home-container .home-content p {
  font-family: var(--font-overpass);
  font-size: 1.3rem;
  margin-bottom: 50px;
}

.home-container .home-content .home-cta-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}

.home-container .home-content .home-cta-btn .start-ff-btn,
.home-container .home-content .home-cta-btn .learn-more-btn {
  font-family: var(--font-overpass);
  font-size: 1rem;
  border: none;
  width: 150px;
  height: 55px;
  border-radius: 50px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s ease;
}

.home-container .home-content .home-cta-btn .start-ff-btn {
  background-color: var(--white);
  color: var(--l-red);
}

.home-container .home-content .home-cta-btn .start-ff-btn:hover {
  background-color: var(--vl-red);
  color: var(--white);
}

.home-container .home-content .home-cta-btn .learn-more-btn {
  background-color: transparent;
  border: 2px solid var(--white);
  color: var(--white);
}

.home-container .home-content .home-cta-btn .learn-more-btn:hover {
  background-color: var(--white);
  color: var(--l-red);
}

/*End Home*/
